body
{
 font-family:helvetica;
}
#heading
{
 margin-top:150px;
 text-align:center;
 font-size:32px;
 color:#19a5cf;
}
#password
{
 margin-left: 670px;
 height:45px;
 width:500px;
 border-radius:3px;
 border:1px solid rgb(0, 0, 0);
 padding:10px;
 font-size:20px;
}
#balok_wrapper
{
 border:1px solid rgb(88, 76, 76);
 margin-left:820px;
 margin-top:20px;
 width:200px;
 height:35px;
 border-radius:3px;
}
#balok
{
 width:0px;
 height:35px;
 border-radius:3px;
}
#pass_type
{
 font-size:22px;
 margin-top:20px;
 margin-left:850px;
 text-align:center;
 color:rgb(0, 0, 0);
}